# Eclipse
.metadata/
.settings/
.project
.classpath

# Build / Deploy
build/
bin/
out/
target/

# Servidores (Tomcat)
Servers/
tmp/
work/

# Java
*.class

# Temporários
*.tmp
*.swp
*~

# Config
*.launch

# Dependências
lib/*.jar

# Sistema
.DS_Store
Thumbs.db

# Deploy
*.war
*.ear

# Node
node_modules/

# IDEs
.idea/
.vscode/