HELP.md
target/

### Artefatos de build ###
*.jar
*.war
!**/src/main/**/target/
!**/src/test/**/target/

### Maven wrapper (assume-se Maven instalado) ###
mvnw
mvnw.cmd
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
